doctype
html
	head
		title="Game"

		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible", content="IE=edge")
		meta(name="description", content="A fantastic game")
		meta(name="viewport", content="width=device-width, initial-scale=1")

		//script(src="../assets/babylonjs/babylon.max.js")
		script(src="./index.ts")
		style(src="../src/style.css")

	body
		canvas#renderCanvas